<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.mvc.mappers.ReplyMapper">

    <!-- ReplyMapper id = insert -->
    <insert id="insert">
        INSERT INTO tbl_reply2 (tno,reply,replyer)
        VALUES (#{tno}, #{reply}, #{replyer})
        <selectKey resultType="long" keyProperty="rno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- ReplyMapper id = updateGno -->
    <update id="updateGno">
        UPDATE tbl_reply2 SET gno = #{rno}
        WHERE rno = #{rno}
    </update>

    <!-- ReplyMapper id = insertChild -->
    <insert id="insertChild">
        INSERT INTO tbl_reply2 (tno,reply,replyer,gno)
        VALUES (#{tno}, #{reply}, #{replyer}, #{gno})
        <selectKey resultType="long" keyProperty="rno" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- ReplyMapper id = selectList -->
    <select id="selectList" resultType="my.mvc.domain.ReplyDTO">
        SELECT IF (rno = gno, 0,1) AS step, rno, gno, reply, replyer,
        replyDate
        FROM tbl_reply2
        WHERE tno = #{tno} order by gno asc, rno asc
        limit #{pr.skip} , #{pr.size}
    </select>

    <!-- ReplyMapper id = selectOne -->
    <select id="selectOne" resultType="my.mvc.domain.ReplyDTO">
        SELECT * FROM tbl_reply2 WHERE rno = #{rno}
    </select>


</mapper>