<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- fragment content start -->
    <div layout:fragment="content">
        <h1>ReadPage</h1>
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <form class="form-horizontal" action="/board/delete/" method="post">
                    <div class="card-body">
                      
                      <!-- tno start -->
                      <div class="form-group row">
                        <label for="tno" class="col-sm-3 text-end control-label col-form-label">Tno</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="tno" th:value="${boardDTO.tno}" readonly/>
                        </div>
                      </div>
                      <!-- tno end -->

                      <!-- title start -->
                      <div class="form-group row">
                        <label for="Title" class="col-sm-3 text-end control-label col-form-label">Title</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="title" th:value="${boardDTO.title}" readonly/>
                        </div>
                      </div>
                      <!-- title end -->

                      <!-- writer start -->
                      <div class="form-group row">
                        <label for="writer" class="col-sm-3 text-end control-label col-form-label">Writer</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="writer" th:value="${boardDTO.writer}" readonly/>
                        </div>
                      </div>
                      <!-- writer end -->

                      <!-- registDate start -->
                      <div class="form-group row">
                        <label for="registDate" class="col-sm-3 text-end control-label col-form-label">RegistDate</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="registDate" th:value="${boardDTO.registDate}"readonly/>
                        </div>
                      </div>
                       <!-- registDate end -->

                      <!-- mdofiyDate start -->
                      <div class="form-group row">
                        <label for="modfiyDate" class="col-sm-3 text-end control-label col-form-label">updateDate</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="modfiyDate" th:value="${boardDTO.updateDate}" readonly/>
                        </div>
                      </div>
                      <!-- mdofiyDate end -->

                      <!-- content start -->
                      <div class="form-group row">
                        <label for="content" class="col-sm-3 text-end control-label col-form-label">Content</label>
                        <div class="col-sm-9">
                          <textarea class="form-control"   th:text="${boardDTO.content}" readonly></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- content end-->

                    <!-- 수정, 삭제, 목록 버튼 -->
                    <div class="border-top">
                      <div class="card-body">
                        <button type="button" class="btn btn-primary modifyButton">
                          게시글 수정
                        </button>

                        <button type="button" class="btn btn-primary deleteButton">
                            게시글 삭제
                        </button>

                        <button type="button" class="btn btn-primary listButton">
                            return list page
                        </button>
                      </div>
                    </div>
                  </form>
                </div>      
              </div>
            </div>
        </div>
        <!-- fragment content end -->

              <!-- 모달창 start -->
              <div class="replyModal modal" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
                      <div class="modal-body">
                          <input type="text" name ="rno" readonly>
                          <input type="text" name ="gno" readonly>
                          <input type="text" name="reply" value="AAAA">
                          <input type="text" name="replyer" value= "BBB">
      
                      </div>
      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger btnDelete">DELETE</button>
                        <button type="button" class="btn btn-primary btnModify">UPDATE</button>
                        <button type="button" class="btn btn-primary btnReturnReply">답글 달기</button>
                        <button type="button" class="btn btn-secondary modalClose" data-dismiss="modal">ClOSE</button>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- 모달창 end -->


              <!-- 댓글 입력창 start -->
                <div class="card-body">
                  <form class="form-horizontal replyAdd">
                    <div class="row">

                      <div class="form-group col-sm-8">
                        <input class="form-control input-sm" name="registReply" id="newReplyText" type="text" placeholder="댓글 입력...">
                      </div>

                      <div class="form-group col-sm-2">
                        <input class="form-control input-sm" name="registReplyer" id="newReplyWriter" type="text" placeholder="작성자">
                      </div>

                      <div class="form-group col-sm-2" data-tno=${tno}>
                        <button type="button" class="btn btn-primary btn-sm btn-block replyAddBtn">
                        <i class="fa fa-save"></i> 댓글 달기</button>
                      </div>

                    </div>	
                  </form>	
                </div>
              </div>
    <!-- html end -->


    <!-- JavaScript start -->

    <!-- 게시판 delete , update , 목록 버튼 event javaScript 등록 -->
    <script layout:fragment="script" th:inline="javascript">
        const button = document.querySelector(".deleteButton");
        const button2 = document.querySelector(".modifyButton")
        const button3 = document.querySelector(".listButton")
        const actionForm = document.querySelector(".form-horizontal");
        const link = `http://localhost:8080/replies/`

        const {tno} = [[${boardDTO}]]
        // const {page} = [[${PageRequestDTO}]]

        button.addEventListener("click", (e) => {
            actionForm.setAttribute("action", `/board/delete/${tno}`)
            actionForm.submit();
        })

        button2.addEventListener("click", (e) => {
            actionForm.setAttribute("action", `/board/update/${tno}`)
            actionForm.setAttribute("method", `get`)
            actionForm.submit();
        })

        button3.addEventListener("click", (e) => {
            actionForm.setAttribute("action", `/board/list`)
            actionForm.setAttribute("method", `get`)
            actionForm.submit();
        })
        // 게시판 delete , update , 목록 버튼 event javaScript 등록 end 
    
  
      

     
     

    </script>
    <!-- JavaScript end -->


</body>
</html>