<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/lteLayout.html}">

<head>
    <meta charset="UTF-8">
    <!-- title 제목  -->
    <title>Todo Read Page</title>

</head>

<body>
<div layout:fragment="content">
    <h1>Todo Read Page</h1>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bordered Table</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <table class="table table-bordered todoTable">
                <thead>
                <tr>
                    <th>no</th>
                    <th>title</th>
                    <th>writer</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <td th:text="${readTno.tno}"></td>
                <td th:text="${readTno.title}"></td>
                <td th:text="${readTno.writer}"></td>
                <td th:text="${readTno.dueDate}"></td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>